# Ignore artifacts:
build
coverage
dist
frontend/dist
frontend/node_modules

#defaults
**/.git
**/.svn
**/.hg
**/node_modules
**/dist
**/build
**/coverage
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml